{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
      
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-black-ter has-text-white">
              <p class="title">Create meal</p>
              <p class="subtitle">sounds delicious</p>
          <div class="content">
            <!-- Content -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/create_meal">
            <div class="field">
                <label class="label has-text-white">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the name of the meal." name="meal_name">
                </div>
            </div>
            
            <div class="field">
                <label class="label has-text-white">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter a description for the meal." name="meal_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Preparation Time</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the estimated time required to prepare the meal in minutes." name="meal_prep_time">
                </div>
            </div>
            
            <div class="field">
                <label class="label has-text-white">Preparation Instructions</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter any preparation instructions." name="meal_prep_instructions"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Labor Cost</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the cost associated with time / facilities used to make meal excluding ingredients." name="meal_labor_cost">
                </div>
            </div>
              
            <div class="field">
                <label class="label has-text-white  ">Serving Method</label>
                <div class="control">
                    <div class="select">
                    <select>
                        <option>Bowl</option>
                        <option>Tub</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-half">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <p class="title">All Ingredients</p>
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Create an ingredient</p>
                                <form method="POST" action="/create_ingredient">
                                    <div class="field">
                                        <label class="label has-text-white">Name</label>
                                        <div class="control">
                                          <input class="input" type="text" placeholder="Enter the name of the ingredient." name="ingredient_name">
                                        </div>
                                    </div>
        
                                    <div class="field">
                                        <label class="label has-text-white">Cost</label>
                                        <div class="control">
                                          <input class="input" type="text" placeholder="Enter the cost of the ingredient." name="ingredient_name">
                                        </div>
                                    </div>
        
                                    <div class="control">
                                        <button class="button is-success">Create</button>
                                    </div>
                                </form>
                                <p class="subtitle">Use the button</p>
                            </article>
                            {% for ingredient in ingredients %}
                            <article class="tile is-child notification is-danger">
                                <p class="title">{{ ingredient.name }}</p>
                                <p class="subtitle">{{ ingredient.cost }}</p>
                                <form method="POST" action="use_ingredient_in_meal">
                                    <div class="control">
                                        <button class="button is-success">Use</button>
                                    </div>
                                </form>
                            </article>
                            {% endfor %}
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <p class="title">Ingredients Used</p>
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                                <form method="POST" action="use_ingredient_in_meal">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                                <form method="POST" action="use_ingredient_in_meal">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                                <form method="POST" action="use_ingredient_in_meal">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-success">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-danger">Cancel</button>
                </div>
            </div>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}