{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
      
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
              <p class="title">Create meal</p>
              <p class="subtitle">sounds delicious</p>
          <div class="content">
            <!-- Content -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/create_meal">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the name of the meal." name="meal_name">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter a description for the meal." name="meal_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Preparation Time</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the estimated time required to prepare the meal in minutes." name="meal_prep_time">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Preparation Instructions</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter any preparation instructions." name="meal_prep_instructions"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Labor Cost</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the cost associated with time / facilities used to make meal excluding ingredients." name="meal_labor_cost">
                </div>
            </div>
              
            <div class="field">
                <label class="label">Serving Method</label>
                <div class="control">
                    <div class="select">
                    <select>
                        <option>Bowl</option>
                        <option>Tub</option>
                    </select>
                    </div>
                </div>
            </div>
              
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}