{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
      
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-black-ter has-text-white">
          <div class="content">
            <!-- Content -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('main.create_meal_post') }}">
            
            <div class="columns">
                <div class="column is-half">
                    <p class="title">Create meal</p>
                    <p class="subtitle">sounds delicious</p>
                </div>
                <div class="column is-half">
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the name of the meal." name="meal_name" value="{{ request.form['meal_name'] }}">
                </div>
            </div>
            
            <div class="field">
                <label class="label has-text-white">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter a description for the meal." name="meal_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Preparation Time</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the estimated time required to prepare the meal in minutes." name="meal_prep_time">
                </div>
            </div>
            
            <div class="field">
                <label class="label has-text-white">Preparation Instructions</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter any preparation instructions." name="meal_prep_instructions"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Labor Cost</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter the cost associated with time / facilities used to make meal excluding ingredients." name="meal_labor_cost">
                </div>
            </div>
              
            <div class="field">
                <label class="label has-text-white  ">Serving Method</label>
                <div class="control">
                    <div class="select">
                    <select>
                        <option>Bowl</option>
                        <option>Tub</option>
                    </select>
                    </div>
                </div>
            </div>

            </form>

            <div class="columns">
                <div class="column is-half">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <p class="title">All Ingredients</p>
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Create an ingredient</p>
                                <form method="POST" action="{{ url_for('main.create_ingredient') }}">
                                    <div class="field">
                                        <label class="label has-text-white">Name</label>
                                        <div class="control">
                                          <input class="input" type="text" placeholder="Enter the name of the ingredient." name="ingredient_name">
                                        </div>
                                    </div>
        
                                    <div class="field">
                                        <label class="label has-text-white">Cost</label>
                                        <div class="control">
                                          <input class="input" type="text" placeholder="Enter the cost of the ingredient." name="ingredient_cost">
                                        </div>
                                    </div>
        
                                    <div class="control">
                                        <button class="button is-success">Create</button>
                                    </div>
                                </form>
                            </article>
                            {% for ingredient in ingredients %}
                            <article class="tile is-child notification is-danger">
                                <p class="title">{{ ingredient.name }}</p>
                                <p class="subtitle">{{ ingredient.cost }}</p>
                                <form method="POST" action="{{ url_for('main.use_ingredient_in_meal') }}">
                                    <div class="control">
                                        <button class="button is-success">Use</button>
                                    </div>
                                </form>
                            </article>
                            {% endfor %}
                            {% if ingredients.length == 0 %}
                            <article class="tile is-child notification has-background-grey-darker">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                            </article>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <p class="title">Ingredients Used</p>
                            {% for ingredient in ingredients %}
                            <article class="tile is-child notification is-link">
                                <p class="title">{{ ingredient.name }}</p>
                                <p class="subtitle">{{ ingredient.cost }}</p>
                                <form method="POST" action="{{ url_for('main.remove_ingredient_from_meal') }}">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                            {% endfor %}
                            <article class="tile is-child notification has-background-grey-darker draggable">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                                <form method="POST" action="remove_ingredient_from_meal">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                            <article class="tile is-child notification has-background-grey-darker draggable">
                                <p class="title">Add an ingredient to get started</p>
                                <p class="subtitle">Use the button</p>
                                <form method="POST" action="remove_ingredient_from_meal">
                                    <div class="control">
                                        <button class="button is-danger">Remove</button>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}