{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
      
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <a href="{{ url_for('main.create_meal') }}"><button class="button is-success">Create</button></a>
        </div>
        <article class="tile is-child notification is-danger">
              <p class="title">Meals</p>
              <p class="subtitle">Select a meal</p>
          <div class="content">
            <!-- Content -->
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    {% for meal in meals %}
                    <article class="tile is-child notification is-primary">
                        <p class="title">{( meal.name }}</p>
                        <p class="subtitle">{{ meal.description }}</p>
                    </article>
                    {% endfor %}
                  <article class="tile is-child notification is-primary">
                    <p class="title">Vertical...</p>
                    <p class="subtitle">Top tile</p>
                  </article>
                  <article class="tile is-child notification is-warning">
                    <p class="title">...tiles</p>
                    <p class="subtitle">Bottom tile</p>
                  </article>
                </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}