{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
      
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <a href="{{ url_for('main.create_meal') }}"><button class="button is-success">Create</button></a>
        </div>
        <article class="tile is-child notification has-background-black-ter">
              <p class="title">Meals</p>
              <p class="subtitle">Select a meal</p>
          <div class="content">
            <!-- Content -->
            <div class="tile">
                <div class="tile is-parent is-vertical">
                  {% for meal in meals %}
                    <article class="tile is-child notification is-danger">
                        <a href="meals/{{ meal.id }}"><p class="title">{{ meal.name }}</p></a>
                        <p class="subtitle">{{ meal.description }}</p>
                    </article>
                  {% endfor %}
                  {% if meals.length == 0 %}
                  <article class="tile is-child notification has-background-grey-darker">
                    <p class="title">Create a meal to get started</p>
                    <p class="subtitle">Use the button</p>
                  </article>
                  {% endif %}
                </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}